#form{
    margin: 10px 10%;
}

#article{
    margin: 5em 10%;
}

.file-input{
    float: right;
    margin: 10px 10%;
    min-width: 30em;
    max-width: 30em;
    width: 30em;
}

.textfield{
    margin: 2% 2%;
}

.button{
    margin-top: 10px;
    margin-left: 10%;
}



textarea{
    padding: 10em 10%;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    min-height: 10em;
    max-height: 10em;
    height: 10em;
}

