#form{
    margin: 50px 10%;
}

#article{
    margin: 1em 10%;
}

.file-input{
    float: right;
}

.textfield{
    margin: 2% 2%;
}

.button{
    margin-top: 10px;
    margin-left: 10%;
}

#coverSection{
    margin: 4em;
}

h1{
    position: relative;
    top:20px;
    left: 10%;

}

#changeCoverCard{
    min-width: 30em;
    max-width: 30em;
    width: 30em;
    min-height: 30em;
    max-height: 30em;
    height: 30em;
}



/*textarea{
    padding: 10em 10%;
    min-width: 50px;
    max-width: 50px;
    width: 50px;
    min-height: 20em;
    max-height: 20em;
    height: 20em;
}*/

